h1 {
	text-align: center;
	font-size: 55px;
	color: white;
	font-style: italic;
	background-color: #660066;
}

h2 {
    font-size: 32px;
    font-style: bold;
}

h3 {
    font-size: 26px;
    font-style: bold;
}

body {
	background-image: url("../images/Vinyard.jpg");
}

div {
	background-color: lightgrey;
}

p {
	font-size: 22px;
	font-style: bold;
}

li {
	font-size: 22px;
	font-style: bold;
}

#rcorners3 {
  border-radius: 75px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 550px;
  height: 700px; 
}